ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  max-width: 60vw;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  text-align: left;
}

.listItem {
}

.meetupInfo {
  word-wrap: break-word;
  width: 50vw;
  text-align: left;
}

.description {
  max-width: 350px;
}
