.wrapper {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}

.activeUser {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: fit-content;
  text-align: left;
}

.user-info {
  margin: 0;
}
